body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 15px 40px;
}

header img {
    height: 60px;
}

nav a {
    color: rgb(89, 0, 255);
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #e63946;
}

/* HERO */
.hero {
    height: 90vh;
    background: url('images/fleet.jpg') no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
}

.btn {
    background: #e63946;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
}

/* SECTIONS */
section {
    padding: 60px 40px;
    text-align: center;
}

/* FORM */
form {
    max-width: 600px;
    margin: auto;
    text-align: left;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: #e63946;
    color: white;
    padding: 12px;
    border: none;
    width: 100%;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}